{% extends 'Home.html' %}

{% block body %}
<div class="container">
    {%  block head %}
    <h1 class="text-center">Add Students</h1>
    {% endblock head %}
    <form method="post" action="">
    {% csrf_token %}
   <div class="mb-3">
    <label for="Name" class="form-label">Name</label>
    <input type="text" class="form-control" id="Name" name="Name">
  </div>
    <div class="mb-3">
    <label for="Father_Name" class="form-label">Father Name</label>
    <input type="text" class="form-control" id="Father_Name" name="Father_Name">
    </div>
  <div class="mb-3">
    <label for="Mobile" class="form-label">Mobile</label>
    <input type="number" class="form-control" id="Mobile" name="Mobile">
  </div>
   <div class="mb-3">
    <label for="Class" class="form-label"> Class </label>
    <input type="text" class="form-control" id="Class" name="Class">
  </div>
   <div class="mb-3">
    <label for="Status" class="form-label">Status </label>
    <input type="text" class="form-control" id="Status" name="Status">
  </div>
  <button type="submit" class="btn btn-primary">Update</button>
</form>
</div>
{% endblock body%}